@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  border: none;
}
body {
  background: #000000;
  color: #fff;
  
}

#conteinerFoto1 {
  background-image: url('../assets/foto1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
#conteinerFoto2 {
  background-image: url('../assets/foto2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#price-antes {
  text-decoration: line-through;
}

inpunt {
  border: none !important;
}